# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Coverage directory used by tools like istanbul
/coverage
*.lcov

# Dependencies
/node_modules

# dotenv environment variables file
.env
.env.local
.env.development.local
.env.test
.env.test.local
.env.production.local

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Production
bin
lib
build
dist
.next/
out/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Misc
.DS_Store
*.pem

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Output of 'npm pack'
*.tgz

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# vercel
.vercel

# Yarn Integrity file
.yarn-integrity

# parcel-bundler cache (https://parceljs.org/)
.cache

tmp