##########
# Target #
##########

# If you want to run the application in production mode, set the value to 'production'.
# If you want to run the application in development mode, set the value to 'development'.
NODE_ENV=test

#########
# Input #
#########

  ################
  # Constraintes #
  ################

# Minimum possible date.
# Default: 01-01-1970.
MIN_DATE=01-01-1970

# Maximum possible date.
# Default: current date.
MAX_DATE=01-01-2020

  #####################
  # Power plant Hawes #
  #####################

# Name of the power plant Hawes
POWER_PLANT_HAWES_NAME=Hawes
# Time step in minutes of the power plant Hawes
POWER_PLANT_HAWES_TIME_STEP=15
# API URL of the power plant Hawes
POWER_PLANT_HAWES_API_URL=https://interview.beta.bcmenergy.fr/hawes

  ########################
  # Power plant Barnsley #
  ########################

# Name of the power plant Barnsley
POWER_PLANT_BARNSLEY_NAME=Barnsley
# Time step in minutes of the power plant Barnsley
POWER_PLANT_BARNSLEY_TIME_STEP=30
# API URL of the power plant Barnsley
POWER_PLANT_BARNSLEY_API_URL=https://interview.beta.bcmenergy.fr/barnsley

  ########################
  # Power plant Hounslow #
  ########################

# Name of the power plant Hounslow
POWER_PLANT_HOUNSLOW_NAME=Hounslow
# Time step in minutes of the power plant Hounslow
POWER_PLANT_HOUNSLOW_TIME_STEP=60
# API URL of the power plant Hounslow
POWER_PLANT_HOUNSLOW_API_URL=https://interview.beta.bcmenergy.fr/hounslow

##########
# Output #
##########

# Output format.
# Default: json
OUTPUT_FORMAT=json

########
# Logs #
#########

# Directory where the logs
# Default value: ./logs
LOGS_DIR=./logs

###########
# Network #
###########

# TIMEOUT specifies the number of milliseconds before the request times out. If
# the request takes longer than `timeout`, the request will be aborted.
# Default value is `0` (no timeout)
TIMEOUT=0

# Max size of the http response content in bytes allowed.
# Default value: 5000000 (5 * 1000 * 1000 bytes <=> 5 MB)
MAX_CONTENT_LENGTH=5000000